.main-title {
    text-align: center;
    color: red;
    padding-bottom: 5%;
    padding-top: 1.5%;
}

#ahorcado-box {
    /*background-color: blue;*/
    /*height: 350px;*/
    border: solid black;
    margin-bottom: 2%;
    margin-top: 4%;
    margin-left: 0;
    margin-right: 0;
    width: 99%;

}

#words-box {
    background-color: violet;
    height: 350px;
    border: 5px solid black;
    margin-bottom: 2%;
    margin-top: 4%;
}

.div-social {
    text-align: center;
}

#play-now {
    position: relative;
    top: 200;
    right: 20;
}

#ahorcado-draw {
    position: relative;
    height: 20em;
    margin: auto;
}

.ahorcado {
    text-align: center;

}

#play-now p {
    padding-top: 15%;
    padding-right: 8%;
    text-align: center;
}

/*.play-now-button {

}*/

#play-now-link {
    text-decoration: none;
    color: white;
    font-weight: 800;
}