html {
    background-color: rgb(255, 212, 92);
}

body {
    padding-left: auto;
    background-color: transparent !important;
}

/*------------------------------Home page-------------------------*/

.container {
    text-align: center;
}

.navbar {
    background-color: rgb(232, 178, 34);
}

.main-title {
    text-align: center;
    color: red;
    padding-bottom: 5%;
    padding-top: 1.5%;
}

.how-to-play, .game-story {
    text-align: justify;
}

.how-to-play > h3 {
    text-align: center;
}

.game-story > h3 {
    text-align: center;
}

#hangman-box {
    border: solid black;
    margin-bottom: 2%;
    margin-top: 4%;
    margin-left: 0;
    margin-right: 0;
    width: 99%;
}

/*#words-box {
    background-color: violet;
    height: 350px;
    border: 5px solid black;
    margin-bottom: 2%;
    margin-top: 4%;
}*/



#play-now {
    position: relative;
    top: 200;
    right: 20;
}

#hangman-draw {
    position: relative;
    height: 20em;
    margin: auto;
}

.hangman {
    text-align: center;
}

#play-now p {
    padding-top: 30%;
    padding-right: 8%;
    text-align: center;
}

.play-now-button {
    font-weight: 800;
}

#play-now-link {
    text-decoration: none;
    color: white;

}

/*-------footer-------*/

.footer {
    position: static;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 12%;
}

.social {
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
}

.div-social i  {
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    background-color: rgba(153, 131, 7, 0.6);
    color: rgba(6, 121, 228, 0.8);
    width: 41px;
    height: 41px;
    padding-top: 7px;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

/*----------------------------game page-----------------------*/

#game-box {
    /*border: solid black;*/
    width: 99vw;
    text-align: center;
}

#hangman-game {
    height: 20em;
}

#letterBank {
    padding-top: 50px;
}

#a,#b,#c,#d,#e,#f,
#g,#h,#i,#j,#k,#l,#m,#n,#o,#p,#q,
#r,#s,#t,#u,#v,#w,#x,#y,#z {
    border: solid grey;
    background-color: blue;
    color: white;
    text-align: center;
    padding-left:0;
    padding-right: 0;
    margin: 2% 2%;
}

#game-title {
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 7%;
    padding-bottom: 5%;
}

.div-social {
    text-align: center;
}

#start {
    text-align: center;
    padding-top: 10%;
}

#home, #game {
    color: black;
}



@media (min-width: 800px) {
    .hangman {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        padding-top: 5%;
    }
}