body {
    padding-left: auto;
}

.container {
    text-align: center;
}

.main-title {
    text-align: center;
    color: red;
    padding-bottom: 5%;
    padding-top: 1.5%;
}

#hangman-box {
    /*background-color: blue;*/
    /*height: 350px;*/
    border: solid black;
    margin-bottom: 2%;
    margin-top: 4%;
    margin-left: 0;
    margin-right: 0;
    width: 99%;

}

#words-box {
    background-color: violet;
    height: 350px;
    border: 5px solid black;
    margin-bottom: 2%;
    margin-top: 4%;
}

.div-social {
    text-align: center;
}

#play-now {
    position: relative;
    top: 200;
    right: 20;
}

#hangman-draw {
    position: relative;
    height: 20em;
    margin: auto;
}

.hangman {
    text-align: center;

}

#play-now p {
    padding-top: 30%;
    padding-right: 8%;
    text-align: center;
}

.play-now-button {
    font-weight: 800;
}

#play-now-link {
    text-decoration: none;
    color: white;

}

#game-box {
    /*border: solid black;*/
    width: 99vw;
    text-align: center;
}

#hangman-game {
    height: 20em;
}

#letterBank {
    padding-top: 50px;
}

#a,#b,#c,#d,#e,#f,
#g,#h,#i,#j,#k,#l,#m,#n,#o,#p,#q,
#r,#s,#t,#u,#v,#w,#x,#y,#z {
    border: solid grey;
    background-color: blue;
    color: white;
    text-align: center;
    padding-left:0;
    padding-right: 0;
    margin: 2% 2%;
}

#game-title {
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

#start {
    text-align: center;
    padding-top: 10%;
}

#home, #game {
    color: black;
}

.navbar {
    background-color: blue;
}